################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Token22/.vs/Token22/v15/Server/sqlite3
