################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Token22/.vs/Token22/v15/Server/sqlite3
/packages
/Rodonaves.EDI.BLL/bin
/Rodonaves.EDI.BLL/obj
/Rodonaves.EDI.BLL.Interfaces/bin
/Rodonaves.EDI.BLL.Interfaces/obj
/Rodonaves.EDI.DAL.Interfaces/bin
/Rodonaves.EDI.DAL.Interfaces/obj
/Rodonaves.EDI.DAL.Oracle/bin
/Rodonaves.EDI.DAL.Oracle/obj
/Rodonaves.EDI.DAL.PostgreSQL/bin
/Rodonaves.EDI.DAL.PostgreSQL/obj
/Rodonaves.EDI.DTO/bin
/Rodonaves.EDI.DTO/obj
/Rodonaves.EDI.Enums/bin
/Rodonaves.EDI.Enums/obj
/Rodonaves.EDI.Helpers/bin
/Rodonaves.EDI.Helpers/obj
/Rodonaves.EDI.Infra/bin
/Rodonaves.EDI.Infra/obj
/Rodonaves.EDI.IoC/bin
/Rodonaves.EDI.IoC/obj
/Rodonaves.EDI.Model/bin
/Rodonaves.EDI.Model/obj
/Rodonaves.EDI.Service/bin/Debug
/Rodonaves.EDI.Service/obj/Debug
/Rodonaves.EDI.Service/obj/Release
/Rodonaves.EDI.Service.Enqueue/bin/Debug
/Rodonaves.EDI.Service.Enqueue/obj/Debug
/Rodonaves.EDI.Service.Export/bin
/Rodonaves.EDI.Service.Export/obj
/Rodonaves.EDI.TaskExecutor/obj
/Rodonaves.EDI.WebAPI/bin
/Rodonaves.EDI.WebAPI/obj
